/* ---------- CSS ---------- */
.box {
    position: absolute;
    top: 80px;
    left: 32%;
    width: 35px;
    height:500px;
    border: transparent;
}



.align {
    position: absolute;
    left: 30%;
}

.footer {
    font-size:15px;
    font-weight:bold;
    margin-top: 550px;
    text-align: center;
    padding-bottom:45px;
}
.footer1 {
    font-size:15px;
    font-weight:bold;
    margin-top: 350px;
    text-align: center;
    padding-bottom:45px;
}